.projectPageMainContainer {
  display: flex;
  flex-direction: column;
  width: min(640px, 100%);
  align-items: center;
  gap: 4rem;
}

.projectPageTitleContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.projectPageIcon {
  height: 100%;
  width: 3rem;
  background-color: var(--theme-blue);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.projectPageTitle {
  text-align: left;
  font-size: 2rem;
}

.projectPageFeaturesContainer {
}

.projectPageFeatureList {
  padding: 0;
}

.projectPageFeatureList li::marker {
  color: var(--theme-blue);
}

.projectPageFeatureList li {
  text-align: left;
}

.projectPageDescription {
  white-space: pre-line;
  font-size: 1.1rem;
}

.projectPageButton {
  background-color: var(--theme-blue);
  font-size: 1.2rem;
}

.projectPageScreenShot {
  width: min(100%, 600px);
  border-radius: 0.5rem;
}
