.colorThemeMenuContainer {
    position: absolute;
    top: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: var(--backgroundDark);
    width: 100%;
    border: solid var(--themeColor) 1px;
    z-index: 50;
}

.colorThemeMenuColorOption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .25rem .5rem;
    gap: 1rem;
}

.colorThemeMenuColorOption:hover {
    cursor: pointer;
}

.colorThemeMenuColorOptionHighlight {
    border: solid white 1px;
    font-size: 1.1rem;
}

.colorThemeMenuColorLabel {
    user-select: none;
}

.colorThemeMenuColorPreview {
    height: 1rem;
    width: 1rem;

}