.projectCardsMainContainer {
  width: min(1280px, 100%);
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}

.projectCardContainer {
  display: flex;
  flex-direction: column;
  border: solid white 1px;
  padding: 1rem;
  gap: 1rem;

  width: min(100%, 600px);

  background-color: var(--backgroundLight);
  box-shadow: 2px 2px 4px var(--themeColor);
  animation: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.projectCardTitleContainer {
  display: flex;
  border-bottom: solid 1px var(--themeColor);
  border-radius: 0;
  align-items: center;
  gap: 1rem;
}

.projectCardTitleIcon {
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--themeColor);
  padding: 0.25rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.projectCardTitleText {
  font-size: 1.5rem;
}

.projectCardDescriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projectCardDescriptionShort {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 400;
  height: 3.5rem;
}

.projectCardDescriptionLong {
  text-align: left;
}

.projectCardButtonsContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}

.projectCardButton {
  padding: 0.5rem;
  font-weight: 600;
  color: var(--backgroundDark);
  background-color: var(--themeColor);
  border: solid black 1px;
  transition: all 250ms;
}

.projectCardButton:hover {
  transform: translateY(-.25rem);
}
