:root {
  @font-face {
    font-family: "Ubuntu";
    src: url("@/assets/fonts/ubuntu/ubuntu-v20-latin-300.woff2");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Ubuntu";
    src: url("@/assets/fonts/ubuntu/ubuntu-v20-latin-700.woff2");
    font-weight: bold;
    font-style: normal;
  }

  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --backgroundDark: #1a1a1a;
  --backgroundLight: #242424;
  background-color: var(--backgroundDark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --themeColor: #646cff;
  --textColor: #e3e3e3;
}

* {
  box-sizing: inherit;
  border-radius: inherit;
  margin: 0;
  color: var(--textColor);
}

a {
  font-weight: 500;
  color: var(--themeColor);
  text-decoration: inherit;
}

a:visited {
  filter: brightness(.5);
}

a:hover {
  filter: brightness(1.5);
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;

  padding: 0;
  box-sizing: border-box;
  border-radius: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

hr {
  display: flex;
  width: 50%;
  justify-self: center;
  color: var(--themeColor);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.smallContainer {
  padding: 0.5rem;
}

.showBorder {
  border: solid white 1px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* NAV BAR */

/* MAIN PAGE */

@keyframes shiftSideways {
  from {
    background-position-x: center;
  }
  to {
    background-position-x: 10%;
  }
}

.iconSmall {
  height: 1.5rem;
  width: 1.5rem;
}

.iconLarge {
  height: 2rem;
  width: 2rem;
}

.logo,
.icon {
  will-change: filter;
  transition: filter 300ms;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}

.logoLarge {
  height: 4rem;
  width: 4rem;
}

.logoSmall {
  height: 2rem;
  width: 2rem;
}
.reverseColor {
  filter: invert();
}

.card {
  padding: 2em;
}

/* PROJECT PAGE */

/* FOOTER */

#footer {
  display: flex;
  align-items: center;
  padding: 1rem;
}
