#navBar {
  height: 2.25rem;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  justify-content: space-between;
  width: 100%;

  border-radius: 0;
}

#navBarLeft,
#navBarRight {
  width: 50%;
  display: flex;
  gap: 1rem;
}

#navBarLeft {
}

#navBarRight {
  justify-content: flex-end;
}

.navBarButton {
  color: var(--backgroundDark);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--themeColor);
  padding: 0.25rem;
  border-radius: 0.5rem;
  height: 2rem;
  width: 7rem;
}

.navBarHomeButton {
  height: 2rem;
  width: 7rem;

  aspect-ratio: 1;
  padding: 1rem;

  background-color: var(--themeColor);
  background-image: url("/home.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.5rem;

  border: none;
  border-radius: 0.5rem;
}

.navBarAbout:hover {
  cursor: pointer;
}

.dropdownContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
