:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --backgroundDark: #1a1a1a;
  --backgroundLight: #242424;
  background-color: var(--backgroundDark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --theme-blue: #646cff;

  --textColor: #e3e3e3;
}

* {
  box-sizing: inherit;
  border-radius: inherit;
  margin: 0;
  color: var(--textColor);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: var(--theme-blue);
}

body {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;

  padding: 0;
  box-sizing: border-box;
  border-radius: 1rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--theme-blue);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.smallContainer {
  padding: 0.5rem;
}

.showBorder {
  border: solid white 1px;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* NAV BAR */

#navBar {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
  width: 100%;

  border-bottom: solid grey 1px;
  border-radius: 0;
}

.navBarTitle {
}

.dropdownContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
/* MAIN PAGE */

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.iconSmall {
  height: 1.5rem;
  width: 1.5rem;
}

.iconLarge {
  height: 2rem;
  width: 2rem;
}

.logo,
.icon {
  will-change: filter;
  transition: filter 300ms;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}

.logoLarge {
  height: 4rem;
  width: 4rem;
}

.logoSmall {
  height: 2rem;
  width: 2rem;
}
.reverseColor {
  filter: invert();
}

.card {
  padding: 2em;
}

/* PROJECT PAGE */

/* FOOTER */

#footer {
  display: flex;
  align-items: center;
  padding: 1rem;
}
